@model LBAChamps.Models.Partida

@{
    ViewData["Title"] = "Detalhes da Partida";
}

<h2>@ViewData["Title"]</h2>
<hr />

<dl class="row">
    <dt class="col-sm-3">Liga</dt>
    <dd class="col-sm-9">@Model.Liga.Nome</dd>

    <dt class="col-sm-3">Data / Hora</dt>
    <dd class="col-sm-9">@Model.DataHora</dd>

    <dt class="col-sm-3">Local</dt>
    <dd class="col-sm-9">@Model.Local</dd>

    <dt class="col-sm-3">Time Mandante</dt>
    <dd class="col-sm-9">@Model.TimeCasa.Nome</dd>

    <dt class="col-sm-3">Time Visitante</dt>
    <dd class="col-sm-9">@Model.TimeFora.Nome</dd>

    <dt class="col-sm-3">Placar</dt>
    <dd class="col-sm-9">@Model.PlacarCasa x @Model.PlacarFora</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.IdPartida" class="btn btn-primary">Editar</a>
<a asp-action="Index" class="btn btn-secondary ms-2">Voltar</a>
